* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background-color: darkcyan;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  color: white;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.task {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.new-task {
  position: absolute;
  right: 20px;
  cursor: pointer;
  padding: 8px;
  color: white;
  background-color: darkcyan;
  border: 1px solid blue;
}

.low {
  background-color: green;
}
.medium {
  background-color: yellow;
}
.high {
  background-color: crimson;
}
