@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kalam:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}

a {
  text-decoration: none;
}

.main-div {
  height: 94vh;
}
/*  */
/*  */
/*  */
/*  NAV SECTION */

nav {
  background-color: goldenrod;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.h1-logo {
  font-family: "Dancing Script", cursive;
  font-size: 38px;
}

.links-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  color: #2055da;
}

.nav-link:hover {
  border-bottom: 2px solid gold;
}
/*  */
/*  */
/*  ABOUT SECTION  */

.about-div {
  background-image: url("https://wallpapercave.com/wp/wp3793320.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.about-div > div {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
