@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kalam:wght@300;400;700&display=swap");
@import url("react-toastify/dist/ReactToastify.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}
/*  */
/*  */
/*  */
/*  NAV SECTION */

nav {
  background-color: goldenrod;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.h1-logo {
  font-family: "Dancing Script", cursive;
  font-size: 38px;
}

.links-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  color: #2055da;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  border-bottom: 2px solid gold;
}

.small-width {
  display: none;
}

.nav-icon {
  font-size: 30px;
}

/*  */
/*  */
/*  ABOUT SECTION  */

.main-div {
  min-height: 94vh;
  padding: 20px 0;
}

.about-div {
  background-image: url("./assets/aboutBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.about-div > div {
  width: 90%;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*  */
/*  */
/* LOGIN SECTION */

.login-main {
  width: 100%;
  height: 94vh;
  background-image: url("./assets/loginBackground.jpg");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-details {
  background-color: #f1f5f9;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  border-radius: 10px;
  width: 500px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  position: relative;
}

.login-credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-field {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.account-input {
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
}
/*  */
/*  */
/* REGISTER SECTION */

.register-main {
  height: 94vh;
  background-image: url("./assets/registerBackground.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo {
  width: 200px;
  height: 200px;
}

.account-button {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
  background-color: #4c74d8;
  color: white;
}

button[disabled] {
  background-color: #ccc;
  color: #666;
  cursor: auto;
}

.error-message {
  position: absolute;
  bottom: 0;
  color: red;
}
/*  */
/*  */
/* ZOOKEEPERS AND ANIMALS SECTION */

.animal-zookeeper-main {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  min-height: 94vh;
  padding: 20px;
  padding-bottom: 100px;
}

.zookeepers-main {
  background-image: url("./assets/zookeepersBackground.jpg");
}

.zookeeper-card,
.animal-card {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  border-radius: 4px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 5px;
  width: 290px;
}

.zookeeper-details,
.animal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.animal-image {
  width: 150px;
}

.zookeeper-image {
  width: 200px;
}

.active {
  color: greenyellow;
}

.not-active {
  color: red;
}

.btn-div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.zookeeper-btn {
  padding: 5px;
  color: white;
  border: 1px solid gray;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 60px;
  text-align: center;
}

.edit-btn {
  background-color: cadetblue;
}

.delete-btn {
  background-color: red;
}

.animals-main {
  background-image: url("./assets/animalsBackground.jpg");
}

.add-button {
  background-color: #2055da;
  padding: 8px 14px;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/*  */
/*  */
/* FORM SECTION */

.animal-form {
  background-image: url("./assets/animalFormBackground.jpg_large");
}

.zookeeper-form {
  background-image: url("./assets/zookeeperFormBackground.webp");
}

.form-main {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 50px;
  min-height: 94vh;
  background-position: center;
  background-size: cover;
}

.form {
  background-color: #f1f5f9;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  width: 90%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: fit-content;
  padding: 10px;
}

.checkbox-field {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-input {
  width: 60%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  border-bottom: 2px solid lightseagreen;
  font-size: 16px;
}

.checkbox-label {
  font-size: 16px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.submit-btn {
  padding: 6px 16px;
  background-color: darkseagreen;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
}

/*  */
/*  */
/* ADMIN SETTINGS SECTION */

.not-allowed {
  display: flex;
  justify-content: center;
}

.admin-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 94vh;
  background-image: url("./assets/adminBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.admin-settings {
  background-color: #f1f5f9;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  width: 90%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: fit-content;
  padding: 10px;
}

.admin-settings-options {
  display: flex;
  align-items: center;
  width: 100%;
}

.admin-settings-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.select-field {
  display: flex;
  flex-direction: column;
}

.select-field select {
  width: 200px;
}
/*  */
/*  */

@media only screen and (max-width: 800px) {
  .small-width {
    display: flex;
  }
  .big-width {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .admin-settings-options {
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-disappear {
    display: none;
  }

  .login-details {
    flex-direction: column;
    width: fit-content;
  }
}

@media only screen and (max-width: 400px) {
  nav {
    padding: 5px;
    justify-content: space-between;
  }

  .nav-link {
    font-size: 18px;
  }
}
